{% extends 'base.html.twig' %}

{% block title %} {{controller_name}} {% endblock %}

{% block body %}
	{% include 'assets/header.html.twig' %}

	<main>
		<div class="container pt-4">
        {% include "assets/flash.html.twig" %}

			<h1>Mon Profil</h1>

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ex tempore libero labore quod a, nam
				necessitatibus quam eligendi sequi quos deserunt, esse nulla possimus minima velit cumque? Voluptate, ipsum.</p>

            {{form(form)}}

		</div>
	</main>
{% endblock %}

