{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
{% include 'assets/header.html.twig' %}

  <main>
    <div class="container pt-4">

      <h1>Equipes</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ex tempore libero labore quod a, nam
        necessitatibus quam eligendi sequi quos deserunt, esse nulla possimus minima velit cumque? Voluptate, ipsum.</p>

    </div>
  </main>
{% endblock %}
